.todo-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  transition: all 0.25s ease-in-out;
  animation: on-mount 0.5s ease-in-out;
}

@keyframes on-mount {
  0% {
    opacity: 0.1;
    transform: translateY(-20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.todo-item:hover {
  transform: translateY(-2%) translateX(2%);
}

.todo-item:last-child {
  border: none;
  padding: 0;
}

.todo-item__contents {
  overflow: scroll;
  padding: 0 1rem;
}

.todo-item__title,
.todo-item__description {
  color: black;
}
