.button {
  border-radius: 10px;
  border: 2px solid #aaa;
  text-transform: uppercase;
  font-weight: bold;
  transition: background 0.25s ease-in-out;
  padding: 0.5rem 0.75rem;
  background: #888;
  color: white;
}

.button:hover {
  background-color: #666;
}
