.title {
  color: rgb(255, 102, 0);
  border-bottom: 2px solid #ddd;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 2em;
}
